
<form [formGroup]="personalDetails" (ngSubmit)= "onSubmit()">

    <nb-card size="small" accent="primary">
        
        <nb-card-header>Membership</nb-card-header>
        
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">
                        <label>Type of Reg.</label>
                        <nb-select fullWidth status="primary" size="small" formControlName="typeOfReg">
                                <nb-option value="AETISAN">AETISAN</nb-option>
                                <nb-option value="STAFF">STAFF</nb-option>
                        </nb-select>    
                    </div>
                    
                    <div class="col-md-4">
                        <label>Reg. No.</label>
                        <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="regNumber">
                    </div>    
    
                    <div class="col-md-4">
                        <label>Status</label>
                        <nb-select fullWidth size="small" status="primary" placeholder="Active" formControlName="memberStatus">
                            <nb-option value="true" >Active</nb-option>
                            <nb-option value="false" >Closed</nb-option>
                        </nb-select>
                    </div>   
                </div>  
    
                <div class="row">
                    <div class="col-md-4">
                        <label>Membership No.</label>
                        <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="memberNumber">
                    </div>
                    
                    <div class="col-md-4">
                        <label>Date of Membership</label>
                        <input nbInput fullWidth fieldSize="small" placeholder="Membership Date" [nbDatepicker]="dateOfMembership" shape="rectangle" status="primary" formControlName="dateOfMembership">
                        <nb-datepicker #dateOfMembership></nb-datepicker>
                    </div>
                    
                    <div class="col-md-4">
                        <label>Staff No.</label>
                        <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="staffNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Registration No.</label>
                        <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="registrationNumber">
                    </div>
    
                    <div class="col-md-8">
                        <label>Comments</label>
                        <textarea nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="comments"></textarea>
                    </div>
                </div>
            </nb-card-body>    
    </nb-card>    
    
    <nb-card size="large" accent="success">
        
            <nb-card-header>Personal Details</nb-card-header>
            
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-4">
                                <label>First Name</label>
                                <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="firstName">  
                        </div>
                        
                        <div class="col-md-4">
                            <label>Middle Name</label>
                            <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="middleName">
                        </div>    
        
                        <div class="col-md-4">
                            <label>Last Name</label>
                            <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="lastName">
                        </div>   
                    </div>  
        
                    <div class="row">
                        <div class="col-md-4">
                            <label>Member Name</label>
                            <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="memberName">
                        </div>
                        
                        <div class="col-md-4">
                            <label>Gender</label>
                            <nb-select fullWidth size="small" shape="rectangle" status="primary" formControlName="gender">
                                <nb-option value="Male">Male</nb-option>
                                <nb-option value="Female">Female</nb-option>
                            </nb-select>
                        </div>
                        
                        <div class="col-md-4">
                            <label>Category</label>
                            <nb-select fullWidth size="small" shape="rectangle" status="primary" formControlName="category">
                                    <nb-option value="General">General</nb-option>
                                    <nb-option value="OBC">OBC</nb-option>
                                    <nb-option value="ST">ST</nb-option>
                                    <nb-option value="SC">SC</nb-option>
                                </nb-select>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date of Birth</label>
                            <input nbInput fullWidth fieldSize="small" placeholder="DOB" [nbDatepicker]="dob" shape="rectangle" status="primary" formControlName="dob">
                            <nb-datepicker #dob></nb-datepicker>
                        </div>
        
                        <div class="col-md-6">
                                <label>Retirement Date</label>
                                <input nbInput fullWidth fieldSize="small" placeholder="" [nbDatepicker]="rtDate" shape="rectangle" status="primary" formControlName="rtDate">
                                <nb-datepicker #rtDate></nb-datepicker>
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="col-md-4">
                                <label>Father Name</label>
                                <input type="text"nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="fatherName">
                        </div>
    
                        <div class="col-md-4">
                                <label>Phone No.</label>
                                <input type="text"nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="phoneNumber">
                        </div>
    
                        <div class="col-md-4">
                                <label>E-Mail</label>
                                <input type="text"nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="eMail">
                        </div>
                    </div>
    
                    <div class="row">
    
                        <div class="col-md-12">
                                <label>Current Address</label>
                                <textarea nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="currentAdd"></textarea>     
                        </div>
                   
                    </div>
    
                    <div class="row">
    
                        <div class="col-md-3" style="margin-top: 25px;">
                            <nb-checkbox status="success" formControlName="issued">Issued</nb-checkbox>
                        </div>

                        <div class="col-md-3">
                            <label>Issue Date</label>
                            <input nbInput fullWidth fieldSize="small" placeholder="Issue Date" [nbDatepicker]="issueDate" shape="rectangle" status="primary" formControlName="issueDate">
                            <nb-datepicker #issueDate></nb-datepicker>
                        </div>
    
                        <div class="col-md-3" style="margin-top: 25px;">
                            <nb-checkbox status="success" formControlName="onlineAccess">Online Access</nb-checkbox>
                        </div>
    
                        <div class="col-md-3" style="margin-top: 25px;">
                            <nb-checkbox status="success" formControlName="thriftAmtTwo">Thrift Amt 2</nb-checkbox>
                        </div>
                      </div>
                </nb-card-body>    
        </nb-card>       
    
    <nb-card size="medium" accent="warning">
        <nb-card-header>Office Details</nb-card-header>
        <nb-card-body formGroupName="address">
            <div class="row">
                <div class="col-md-12">
                    <label>Office Address</label>
                    <textarea nbInput fullWidth fieldSize="small" shape="rectangle" status="primary" formControlName="officeAdd"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Gross salary</label>
                    <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="grossSalary">
                </div>
    
                <div class="col-md-4">
                        <label>Division</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="division">
                </div>
    
                <div class="col-md-4">
                        <label>Grade</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="grade">
                </div>
    
            </div>
            <div class="row">
                <div class="col-md-4">
                        <label>Pin Code</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="pinCode">
                </div>
            
                <div class="col-md-4">
                        <label>PAN No.</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="panNumber">
                </div>
            
                <div class="col-md-4">
                        <label>Bill No.</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="billNumber">
                </div> 
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <label>Designation</label>
                    <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="designation">
                </div>
            </div>    
        </nb-card-body>
    </nb-card>    
    
                                   
    <nb-card size="medium" accent="danger">
            <nb-card-header>Bank Details</nb-card-header>
            <nb-card-body formGroupName="bank">
                <div class="row">
                    <div class="col-md-6">
                        <label>Bank Name</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="bankName">
                    </div>
                
                    <div class="col-md-6">
                        <label>Account No.</label>
                        <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="accountNo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Branch Name</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="branchName">
                    </div>
        
                    <div class="col-md-6">
                            <label>Branch Code</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="branchCode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>IFSC/RTGS Code</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="ifscCode">
                    </div>
                
                    <div class="col-md-6">
                            <label>Swift Code</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="swiftCode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Address Of Bank</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="addOfBank">
                    </div> 
    
                    <div class="col-md-6">
                            <label>City</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="city">
                    </div> 
                </div>
            </nb-card-body>
        </nb-card>    
    
        <nb-card accent="info">
                <nb-card-header>Nominee Details</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nominee Name</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="nomineeName">
                        </div>
                    
                        <div class="col-md-6">
                            <label>Relation</label>
                            <nb-select fullWidth size="small" shape="rectangle" placeholder="Mother" status="primary" formControlName="relation">
                                    <nb-option value="Father">Father</nb-option>
                                    <nb-option value="Mother">Mother</nb-option>
                                    <nb-option value="Son">Son</nb-option>
                                    <nb-option value="Daughter">Daughter</nb-option>
                                    <nb-option value="Brother">Brother</nb-option>
                                    <nb-option value="Sister">Sister</nb-option>
                                    <nb-option value="Wife">Wife</nb-option>
                                    <nb-option value="Husband">Husband</nb-option>
                                    <nb-option value="Nephew">Nephew</nb-option>
                                    <nb-option value="Niece">Niece</nb-option>
                                    <nb-option value="Other">Other</nb-option>
                            </nb-select>   
                        </div>
                    </div>
                    <div class="row">
            
                       <div class="col-md-4">
                          <button style="margin-top: 25px;" nbButton outline fullWidth status="info">Register Now</button>
                        </div>

                        <div class="col-md-4">
                            <label>Password</label>
                            <input nbInput type="text" fullWidth shape="rectangle" status="primary" fieldSize="small" formControlName="password">
                         </div>

                        <div class="col-md-4" style="margin-top: 25px;">
                          <nb-checkbox status="success" formControlName="active">Active</nb-checkbox>
                        </div>  
                    </div>
                 
                <div class="row">

                  <div class="col-md-12" style="margin-top: 25px;">
                      <p>
                          value: {{ personalDetails.value | json}}
                      </p>
                  </div>
                </div>   
                </nb-card-body>
            </nb-card>
        </form>    