
<form [formGroup]= "loanBalance" (ngSubmit)= "onSubmit()">

<nb-card size="medium" accent="warning">
    <nb-card-header>Loan Balance</nb-card-header>
    <nb-card-body>
  
      <div class="row">
  
        <div class="col-md-4">
          <label>Registration No.</label>
          <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="regNumber">
        </div>
  
        <div class="col-md-4">
          <label>Date of Loan</label>
          <input nbInput fullWidth status="primary" shape="rectangle" fieldSize="small" [nbDatepicker]="loanDate" formControlName="loanDate">
          <nb-datepicker #loanDate></nb-datepicker>
        </div>

        <div class="col-md-4">
            <label>Deposit Type</label>
            <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="depositType">
        </div>
      </div>

      <div class="row">
  
          <div class="col-md-4">
            <label>EMI Amount</label>
            <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="emiAmount">
          </div>
    
          <div class="col-md-4">
            <label>Debit Amount</label>
            <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="debitAmt">
          </div>
  
          <div class="col-md-4">
              <label>Principal Amount</label>
              <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="principalAmount">
          </div>
        </div>

        <div class="row">
  
            <div class="col-md-4">
              <label>Interest Amount</label>
              <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="interestAmount">
            </div>
      
            <div class="col-md-4">
                <label>Remaining Loan Amount</label>
                <input nbInput type="text" fullWidth status="primary" shape="rectangle" fieldSize="small" formControlName="remLoanamount">
            </div>

            <div class="col-md-4" style="margin-top: 25px;">
              <nb-checkbox status="success" formControlName="active">Active</nb-checkbox>
            </div>
          </div> 

        <div class="row">
  
            <div class="col-md-4">
              <button style="margin-top: 25px;" nbButton hero fullWidth status="warning">Submit</button>
            </div>

            <div class="col-md-12" style="margin-top: 25px;">
              <p>
                  value: {{ loanBalance.value | json}}
              </p>
          </div>
        </div>
    </nb-card-body>
 </nb-card>         
</form>  